<div class="col-sm-9 main-content">
    <select class="selectpicker" ng-model="asC.selectedCat" ng-options="item.name for item in asC.categories"></select>
    <br>
    <br>
    <div class="row article" ng-repeat="article in asC.articles | filter:asC.selectedCat.id">
        <div class="col-sm-6">
            <a href="#" class="">
                <img ng-src="img/{{article.image}}" class="img-responsive">
            </a>
        </div>
        <div class="col-sm-4">
            <h3 class="title">
                <a href="#/article/{{article.id}}?title={{article.title}}&body={{article.body}}&image={{article.image}}&datePublished={{article.datePublished}}&categoryId={{article.categoryId}}&categories={{asC.categories}}">{{article.title}}</a>
            </h3>
            <p class="text-muted">Category : {{asC.getCategoryById(article.categoryId)}}</p>
            <p>{{article.body}}</p>

            <p class="text-muted">Posted at <a>{{article.datePublished}}</a></p>

        </div>
    </div>
</div>
<div class="col-sm-3 sidebar">
    <div class="list-group">
        <a href="" ng-click="asC.selectCategory(category.id)" ng-repeat="category in asC.categories" class="list-group-item">{{category.name}}</a>
    </div>
</div>